.test{
	margin: 0 auto;
	padding: 0;
	position: relative;
	display: flex;
	width: 65vw;
	@extend %overflow-scroll-hide;
	.disabled{
		color: darker($theme-color-text, 4);
	}
	.list-group{
		@extend %overflow-scroll-hide;
		&-item{
			padding: .25vw 1vw;
			margin-left: 1vw;
			border: none;
			font-weight: 200;
			&.active{
				background: transparent;
				font-weight: 600;
				border: none;
			}
		}
	}
	&__sidebar{
		display: flex;
		flex: 0 0 25%;
		max-width: 25%;
		padding-right: 1vw;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		&__header{
			width: 100%;
		}
		&__body{
			width: 100%;
		}
		&__footer{
			width: 100%;
			text-align: center;
			margin-top: auto;
			.btn-buy{
				margin-top: 1vw;
				padding: .75vw 1vw;
				width: 90%;
				margin-right: 1vw;
				margin-left: 1vw;
			}
		}
	}
	&__content{
		overflow-y: scroll;
		@include custom-scroll-bar();
		max-height: 18vw;
	}
	&__footer{
		text-align: center;
	}
	&__answer{
		&-list{
			margin: .5vw 0
		}
		.custom-control{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			min-height: 2vw;
			padding: .5vw 0;
			padding-left: 3vw;
			&:hover{
				background: rgba($theme-color-3, .5);
			}
			&-input{
				width: 2vw;
				height: 2vw;
				top: .5vw;
				left: .5vw;
				&.is-valid, &.is-invalid{
					~ .custom-control-label{
						color: inherit;
					} 
				} 
				&:checked ~ .custom-control-label{
					&::before{
						background-color: lighter($theme-color-3, 2);
						border-color: lighter($theme-color-3, 2);
					}
					&::after{
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 1.5vw;
						font-weight: 400;
						background-image: none;
						font-family: "Font Awesome 5 Free"; 
						content: "\f058";
					}
				}	
			}
			&-label{
				display: flex;
				align-items: center;
				min-height: 2vw;
				cursor: pointer;
				&:before{
					left: -2.5vw;
					top: 0;
					width: 2vw;
					height: 2vw;
					background-color: lighter($theme-color-3, 2);
					border-radius: $border-radius-sm;
					border-color: lighter($theme-color-3, 2);
				}
				&:after{
					width: 2vw;
					height: 2vw;
					background: no-repeat 50% / 50% 50%;
					left: -2.5vw;
					top: 0;
				}
			}
		}
	}
}