.test{
	margin: 0 auto;
	padding: 0;
	position: relative;
	display: flex;
	max-height: 80vh;
	@extend %overflow-scroll-hide;
	.disabled{
		color: darker($theme-color-text, 4);
	}
	.list-group{
		@extend %overflow-scroll-hide;
		&-item{
			padding: .5vw 1vw;
			&.active{
				background: transparent;
				color: $primary;
				font-weight: 600;
			}
		}
	}
	&__sidebar{
		flex: 0 0 25%;
		max-width: 25%;
		padding-right: 1vw;
	}
	&__content{
		@extend %overflow-scroll-hide;
		max-height: 18vw;
	}
	&__answer{
		.custom-control{
			display: flex;
			align-items: center;
			min-height: 2vw;
			padding-left: 2.5vw;
			margin: 1vw 0;
			&-input{
				width: 2vw;
				height: 2vw;
				top: 0;
			}
			&-label{
				&:before{
					left: -2.5vw;
					top: 0;
					width: 2vw;
					height: 2vw;
					border-radius: $border-radius-sm;
				}
				&:after{
					width: 2vw;
					height: 2vw;
					background: no-repeat 50% / 50% 50%;
					left: -2.5vw;
					top: 0;
				}
			}
		}
	}
}