@import "color";

@mixin pseudo() {
    position: absolute;
    content: "";
}
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    border-radius: 100%;
    height: .5vw;
    width: .5vw;
    opacity: .25;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: .5vw;
    width: .5vw;
    height: .5vw;
    opacity: .5;
  }

  &::-webkit-scrollbar-track {
    border-radius: .15vw;
    opacity: .5;
  }
}