.audio-player{
	height: 100%;
	position: relative;
	width: $audio-player-width;
	&__header{
		background: $theme-color-2;
		transition: $transition-speed $transition-fn;
		overflow: hidden;
		padding: 0 .5vmax;
		height: 100%;
		max-width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		&:hover{
			background: lighter($theme-color-2, 1);
		}
	}
	&__content{
		position: fixed;
		width: $audio-player-width;
		top: $header-height;
		transition: $transition-speed $transition-fn;
		max-height: $audio-player-width;
		background: $theme-color-2;
		@extend %overflow-scroll-hide;
		border-bottom-right-radius: $border-radius-sm;
		border-bottom-left-radius: $border-radius-sm;
		z-index: $audio-player-z-index;
		h3{
			font-size: 1vw;
			margin-top: 1vw;
			padding-left: 1vw;
			margin-bottom: 0;
			color: darker($theme-color-text, 2);
		}
		&:hover{
			background: lighter($theme-color-2, 1);
		}
	}
	&__track-search{
		padding: 1vw;
		&__submit{
			border-color: lighter($theme-color-2, 3);
			background: lighter($theme-color-2, 3);
		}
		&__inp{
			background: lighter($theme-color-2, 3);
			border-color: lighter($theme-color-2, 3);
		}
	}
	&__track-list{
		margin-bottom: 0;
		list-style: none;
		padding: 1vw;
		padding-top: 0;
		max-height: 11vw;
		@extend %overflow-scroll-hide;
		&__item{
			margin: .75vw 0;
		}
	}
	&__right-bar{
		text-align: center;
		&__logo{
			height: 2vw;
		}
	}
	&__ctrl{
		color: darker($theme-color-text, 3);
		display: flex;
		align-items: center;
		justify-content: center;
		&__prev, &__next, &__play{
			margin: .15vw
		}
		&__prev, &__next{
			font-size: .75vw;
		}
		&__play{
			font-size: 1.25vw;
		}
		&__icon{
			&:hover{
				color: $theme-color-text;
				cursor: pointer;
			}
		}
		&__volume{
			&-wrapper{
				margin: 0 .75vw;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			&__icon{
				font-size: .75vw;
			}
			&__slider{
				width: 3vw;
				max-width: 100%;
				border: solid 1px $theme-color-text;
				margin: 0 .25vmax;
				position: relative;
				background: $theme-color-text;
			}
		}
	}
	&__song{
		margin-top: .25vmax;
		text-align: center;	

	}
	&__track{
		font-size: .7vmax;
		line-height: 1.3;
		color: $theme-color-text;
		border-right: solid 1px $gray-700;
		border-left: solid 1px $gray-700;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		&__duration, &__countdown{
			font-size: .75vw;
		}
		&__slider{
			width: 15vw;
			max-width: 90%;
			border: solid 1px $theme-color-text;
			background: $theme-color-text;
			height: 2px;
			position: relative;
			margin: 0 .25rem;
			&-wrapper{
				margin: .25rem;
				font-size: .85rem;
				display: flex;
				align-items: center;
			}
		}
	}
}
.audio-row{
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 4vw;
	background: lighter($theme-color-2, 3);
	border-radius: $border-radius-sm;
	padding: .25vw;
	&__cover{
		height: 100%;
		width: 4vw;
		position: relative;
		overflow: hidden;
		border-radius: $border-radius-sm;
		&:hover{
			filter: brightness(65%);
			.audio-row__cover__icon{
				opacity: 1;
				color: $theme-color-text;
			}
		}
		&__icon{
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 2;
			font-size: 2.5vw;
			cursor: pointer;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: $transition-speed $transition-fn;
		}
		&__banner{
			top: 0;
			left: 0;
			height: 100%;
			position: absolute;
		}
	}
	&__inner{
		width: 100%;
		padding-left: 1vw;
		position: relative;
		&__title{
			font-size: 1vw;
			color: darker($theme-color-text, 3);
			font-weight: $font-weight-semibold;
			cursor: pointer;
			transition: $transition-speed $transition-fn;
			&:hover{
				color:$theme-color-text;
			}
		}
		&__author{
			font-size: .85vw;
			line-height: 1;
			color: darker($theme-color-text, 5)
		}
		&__duration{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 1vmax;
			font-size: .8vw;
			color: darker($theme-color-text, 5);
		}
	}


}
.slider-dot-control{
	width: .5vmax;
	height: .5vmax;
	border-radius: 100%;
	background-color: $primary;
	position: absolute;
	left: 0%;
	top: 50%;
	transform: translateY(-50%);
	&:hover{
		background-color: darker($primary, 3);
		cursor: pointer;
	}
}