.messanger{
	&-wrapper{
		width: $messanger-warapper-width;
		background: $messanger-warapper-bg;
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		z-index: $messanger-warapper-z-index;
		padding-right: $nav-sidebar-width-collapse;
		border-bottom-left-radius: 0;
		border-top-left-radius: $nav-sidebar-border-radius;
		box-shadow: $box-shadow;
		transition: $transition-speed $transition-fn;
		transform: translateX(100%);
		&.open{
			transform: translateX(0);
		}
	}
	&__tab{
		border-radius: $nav-sidebar-border-radius;
		display: none;
		&__content{
			display: flex;
			flex-direction: column;
			position: relative;
			height: 100vh;
		}
	}
	&__select{
		.dropdown-menu, .dropdown-toggle{
			border-radius: 0;
		}
		.dropdown-menu{
			border-bottom: solid 2px $theme-color-2;
		}
	}
	&-control{
		position: absolute;
		top: 0;
		left: -1.75vw;
		z-index: $messanger-warapper-z-index;
		&__item{
			transition: $transition-speed $transition-fn;
			font-size: 1.5vw;
			line-height: 1.4;
			color: $theme-color-text;
			opacity: .5;
			&:hover{
				cursor: pointer;
				opacity: 1;
			}
		}
	}
	&__title{
		padding: .75vw 0 .75vw 2vw;
		color: $theme-color-text;
		min-height: $messanger-header-title-height;
		display: inline-flex;
		align-items: center;
		flex-direction: row;
		font-size: 1.25vw;
		width: 85%;
		&__text{
			font-weight: 600;
			font-size: 1vw;
			margin: 0;
		}
		&__icon{
			font-size: 1.5vw;
			margin-right: .75vw;
		}
	}
	&__header{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		background: lighter($theme-color-2, 1);
		transition: $transition-speed $transition-fn;
		box-shadow: $box-shadow;
		padding-right: $nav-sidebar-width-collapse;
		margin-right: -$nav-sidebar-width-collapse;
		border-top-left-radius: $nav-sidebar-border-radius;
	}
	&__body{
		@extend %overflow-scroll-hide;
		flex: 1 1 auto;
	}
	&__footer{
		background: lighter($theme-color-2, 1);
		margin-right: -$nav-sidebar-width-collapse;
		padding-right: $nav-sidebar-width-collapse;
		&__input-text{
			margin: 0 auto;
			border-top: solid 1px $theme-color-2;
		}
	}
	&-groups{
		&__edit{
			width: 100%;
			margin-top: .5vw;
			padding-bottom: .25vw;
			border-top: solid 1px $theme-color-2;
			border-bottom: solid 1px $theme-color-2;
			label{
				font-size: .75vw;
			}
			&__attach{
				display: flex;
				align-items: center;
				flex-direction: row;
			}
			&__title{
				flex: 1 1 10vw;
				max-width: 100%;
				margin-right: .5vw;
			}
			.form-group{
				margin: .5vw;
			}
			.form-control{
				background: lighter($theme-color-2, 2);
				&:focus{
					border-color: $theme-color-2;
				}
			}
		}
	}
	&__dialog-card{
		position: relative;
		display: block;
		height: $messanger-dialog-card-height;
		&:hover{
			background: lighter($messanger-warapper-bg, 1);
		}
		&__avatar{
			position: absolute;
			width: $messanger-dialog-card-height;
			height: $messanger-dialog-card-height;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			overflow: hidden;
			cursor: pointer;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			&__img{
				position: absolute;
				border-radius: 100%;
				width: $messanger-dialog-card-height * .8;
				height: $messanger-dialog-card-height * .8;
				top: 50%;
				right: 50%;
				transform: translate(50%, -50%);
			}
			&__initials{
				@extend .messanger__dialog-card__avatar__img;
				@include  bg-gradient($theme-color-accent, darker($theme-color-accent, 3));
				color: $theme-color-text;
				text-transform: uppercase;
				display: flex;
				text-align: center;
				align-items: center;
				justify-content: center;
				font-size: 1.5vw;
			}
		}
		&__inner{
			margin-left: $messanger-dialog-card-height;
			height: 100%;
			padding-left: .25vw;
			padding-right: 2vw;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-direction: column;
		}
		&__title{
			cursor: pointer;
			font-size: 1vw;
			font-weight: 600;
			color: $theme-color-text;
		}
		&__desc{
			cursor: pointer;
			line-height: 1.4;
			font-size: .8vw;
			color: lighter($theme-color-text, 2);
			opacity: .75;
			font-weight: 200;
		}
		&__list{
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
	&__search{
		width: 100%;
		max-width: 100%;
		margin: 0 .5vw;
		border-top: solid 1px $theme-color-2;
		border-bottom: solid 1px $theme-color-2;
		&__inp{
			padding-left: .5vw;
			font-size: .9vw;
			border-radius: 0;
		}
		&__submit{
			border-radius: 0;
			padding: .25vw .5vw;
		}
	}
	&__action-menu{
		width: 2.6vw;
		height: 2.5vw;
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		&.show{
			z-index: 9999999;
		}
		&__more{
			display: inline-flex;
			color: $theme-color-text;
			width: 3vw;
			height: 2.5vw;
			justify-content: center;
			align-items: center;
			background: lighter($theme-color-2, 1);
			border-radius: 100%;
			border: none;
			&:hover{
				background: lighter($theme-color-2, 2);
			}
			&:active{
				background: lighter($theme-color-2, 3);
			}
			&:before{
				display: none !important;
			}
		}
		&__list{
			z-index: $messanger-warapper-z-index + 1;
			background: lighter($theme-color-2, 1);
			width: $messanger-action-menu-width;
			top: $messanger-header-title-height / 1.5;
			right: $messanger-header-title-height / 2;
			border: solid 1px $theme-color-2;
			list-style-type: none;
			padding-left: 0;
			border-radius: 0;
			padding: 0;
			margin: 0;
			margin-top: 1vw;
			box-shadow: $box-shadow-xs;
		}
		&__item{
			display: flex;
			align-items: center;
			color: darker($theme-color-text, 2);
			font-size: .9vw;
			padding: .5vw;
			width: 100%;
			&:hover{
				text-decoration: none;
				cursor: pointer;
				color: $theme-color-text;
				background: lighter($theme-color-2, 2);
			}
		}
	}
	&__input-text{
		max-width: 100%;
		width: 100%;
		> .messanger__form-control{
			border-radius: 0;
			background: lighter($theme-color-2, 1);
			font-size: .9vw;
			z-index: 3;
			border: none;
			padding-top: .5vw;
			height: calc(1.5vw + .9vw + 4px);
			@extend %overflow-scroll-hide;
			&:focus{
				box-shadow: none;
				background: lighten($theme-color-2, 12);
			}
		}
		&__icon{
			font-size: 1.15vw;
		}
		.input-group{
			&-append{
				.btn{
					background: lighter($theme-color-2, 1);
					color: $theme-color-text;
					border: none;
					z-index: 2;
					display: flex;
					align-items: center;
					border-radius: 0;
					padding: .5vw;
					&:hover{
						background: lighter($theme-color-2, 2);
						color: darker($theme-color-text, 4);
					}
				}
			}
		}
	}
	&-bookmark{
		position: absolute;
		left: -2.35vw;
		top: 5vw;
		&__item{
			width: 2vw;
			height: 2vw;
			display: block;
			margin: .5vw 0;
			opacity: .9;
			&:hover{
				text-decoration: none;
				opacity: 1;
			}
			&__initials, &__avatar{
				font-size: .75vw;
				color: $theme-color-text;
				display: flex;
				align-items: center;
				justify-content: center;
				@include bg-gradient(lighter($primary, 1), darker($primary, 2));
				width: 100%;
				height: 100%;
				border-radius: 100%;
			}
		}

	}
	&__dialog{
		position: absolute;
		top: 0;
		width: 100%;
		z-index: $messanger-warapper-z-index +10;
		height: 100vh;
		background: $messanger-warapper-bg;
		padding-right: $nav-sidebar-width-collapse;
		border-top-left-radius: $nav-sidebar-border-radius;
		&__pinned{
			max-height: 6vw;
			position: relative;
			overflow: hidden;
			width: 100%;
			background: lightner($theme-color-2, 1);
			display: flex;
			justify-content: center;
			padding: 1vw 0;
			&__avatar{
				padding-left: 1vw;
				margin-right: .5vw;
				&__img{
					width: 4vw;
					height: 4vw;
					max-width: 100%;
				}
			}
			&__inner{
				width: 75%;
				max-height: 6vw;
				display: flex;
				flex-direction: column;
				justify-content: center;

			}
			&__title{
				font-size: 1vw;
				color: $theme-color-text;
				font-weight: 600;
			}
			&__desc{
				color: $theme-color-text;
				font-size: .9vw;
				opacity: .5;
				line-height: 1.3;
			}
			&__unpin{
				transition: $transition-speed $transition-fn;
				font-size: .85vw;
				position: absolute;
				color: $theme-color-text;
				top: .5vw;
				right: 1vw;
				transform: rotate(45deg);
				z-index: $nav-sidebar-z-index + 100;
				&:hover{
					cursor: pointer;
					color: darker($theme-color-text, 4);
					transform: rotate(0);
				}
			}
		}
		&__history{
			@include clearfix;
			padding-top: .5vw;
		}
		&__title{
			padding-left: 1vw;
			padding-bottom: 0;
			margin-bottom: .75vw;
		}
		&__header{
			&__avatar{
				margin-right: .5vw;
				width: 4vw;
				height: 4vw;
				border-radius: 100%;
			}
			&__meta{
				display: block;
				font-size: .75vw;
				opacity: .75;
				font-weight: 200;
				line-height: 1;
			}
		}
		&__message{
			display: inline-flex;
			flex-direction: column;
			margin: 0;
			margin-bottom: .5vw;
			max-width: 100%;
			&__author{
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-end;
				margin-right: 2vw;
				margin-bottom: -.5vw;
				z-index: 1;
				&__avatar{
					margin-right: 1vw;
					border-radius: 100%;
					width: 2.5vw;
					height: 2.5vw;
				}
				&__name{
					color: $theme-color-accent;
					font-size: .9vw;
					margin: 0 .5vw 
				}
			}
			&__status{
				display: flex;
				flex-direction: row;
				align-items: flex-end;
				justify-content: flex-end;
			}
			&__time{
				font-size: .75vw;
				color: darker($theme-color-text, 4);
				margin: 0 .25vw;
			}
			&__status-send{
				margin: 0 .25vw;
				font-size: 1vw;
				color: darker($theme-color-text, 4);
				.read{
					color: $theme-color-accent;
				}
			}
			&__content{
				display: flex;
				align-items: flex-end;
				max-width: 100%;
				margin-bottom: .5vw;
				.messanger__action-menu{
					width: 2vw;
					height: 2vw;
					margin: 0 .25vw;
					&__more{
						padding: 0;
						width: 2vw;
						height: 2vw;
						opacity: 0;
						background: none;
					}
				}
				&:hover{
					.messanger__action-menu{
						&__more{
							opacity: 1;
							&:hover{
								background: $theme-color-2;
							}
						}
						
					}
				}
			}
			&__text{
				color: $theme-color-text;
				background: lighter($theme-color-1, 1);
				padding: .5vw 1vw;
				font-size: .9vw;
				line-height: 1.4;
				max-width: 80%;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
				p{
					margin: 0;
				}
			}
			&--recent{
				.messanger__dialog__message{
					&__text{
						padding-top: .5vw;
						background: lighter($messanger-message-bg--recent, 1);
						border-top-right-radius: $messanger-message-border-radius;
						border-bottom-right-radius: $messanger-message-border-radius;
					}
				}
			}
			&--author{
				margin-right: 0;
				justify-content: flex-end;
				align-items: flex-end;
				width: 100%;
				.messanger__dialog__message{
					&__author{
						padding-right: 1vw;
						justify-content: flex-end;
					}
					&__content{
						flex-direction: row-reverse;
					}
					&__text{
						background: $messanger-message-bg--author;
						border: solid $border-width-sm $theme-color-text;
						border-right: none;
						border-bottom-left-radius: $messanger-message-border-radius;
						border-top-left-radius: $messanger-message-border-radius;
						max-width: 80%;
						padding-right: .5vw;
					}
				}
			}
		}
	}

}