.search-form{
	overflow: hidden;
	color: $theme-color-text;
	&__inp{
		border: solid 2px lighter($theme-color-2, 1);
		background: lighter($theme-color-2, 1);
		border-top-right-radius: $input-border-radius;
		border-bottom-right-radius: $input-border-radius;
		color: $theme-color-text;
		&:focus, &active{
			border-color: lighter($theme-color-2, 1);
		}
	}
	&__submit{
		border: solid 2px lighter($theme-color-2, 1);
		background: lighter($theme-color-2, 1);
		padding-left: 1vmax;
		padding-right: .5vmax;
		color: darker($theme-color-text, 5);
		border-bottom-left-radius: $btn-border-radius;
		border-top-left-radius: $btn-border-radius;
		transition: $transition-speed $transition-fn;
		&:hover{
			background: $theme-color-accent;
			color: $theme-color-1;
		}
	}
}