.courses-level{
	overflow-x: hidden;
	margin: 0 auto;
	max-width: 100%;
	&__wrapper{
		width: 100%;
	}
	&__footer{
		margin: 1vw;
		margin-top: auto;
		z-index: 1;
		.btn{
			font-size: .9vw;
			width: 100%;
			margin-bottom: .25vw;
			min-height: 2.25vw;
			&-buy{
				@include bg-gradient(lighter($primary, 1), $green);
				border-color: transparent;
				color: $theme-color-text;
				&:hover{
				@include bg-gradient(darker($primary, 3), $green );
				}
			}
			&-treal{
				font-size: .75vw;
			}
		}
	}
	&__price{
		color: lighter($theme-color-3, 1);
		font-size: 2.5vw;
		font-weight: 600;
		line-height: 1.1;
		margin: 1vw 0;
		margin-left: 3vw;
		z-index: 1;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		&__old{
			text-decoration: line-through;
			font-size: .9vw;
			color: lighter($theme-color-3, 4);
			font-weight: 200;
			display: inline-flex;
		}
	}
	&__item{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		overflow: hidden;
		box-sizing: border-box;
		@include bg-gradient($white, $gray-500);
		border-radius: $base-border-radius;
		height: 30vw;
		min-height: 100%;
		padding: 0 .75rem;
		transition: .25s ease;
		&:hover{
			.courses-level__item__img{
				opacity: .5;
			}
		}
		&__title{
			display: inline-block;
			width: 100%;
			margin-top: 1.5vmax;
			font-size: 1.25vmax;
			color: $gray-800;
			font-weight: $font-weight-bold;
			z-index: 2;
			font-weight: 400;
		}
		&__list{
			z-index: 1;
			list-style-type: none;
			padding-left: 0;
			margin-bottom: 0;
			margin-left: .75vw;
			&__item{
				color: $gray-600;
				font-size: .9vw;
				list-style: none;
				padding-left: 0;
				margin-left: 0;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		&__img{
			position: absolute;
			transition: .3s ease;
			width: 100%;
			right: 0;
			bottom: 0;
			object-fit: fill;
			opacity: .25;
			z-index: 0;
			pointer-events: none;
			visibility: visible;

		}
		&__lock{
			background: $color-lock;
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: .8;
			top: 0;
			left: 0;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			&__img{
				width: 40%;

			}
			&__info{
				text-transform: none;
				margin-top: 2vmax;
				font-size: 1vmax;
				width: 100%;
				padding: 0 1vmax;
				.unlock-date{
					display: inline-block;
				}
			}
		}
	}
	&__navigation{
		display: flex;
		align-items: center;
		justify-content: center;
		transition: $transition-speed $transition-fn;
		&__button{
			padding: .25vw .5vw;
			font-size: 1.25vw;
			cursor: pointer;
			color: darker($theme-color-text, 4);
			&:hover{
				color: $theme-color-text;
			}
		}
	}
}