.school-items-slider{
	width: 85.5vmax;
	overflow-x: hidden;
	margin: 0 auto;
	max-width: 100%;
	&__wrapper{
		width: 100%;
	}
	&__item{
		position: relative;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		box-sizing: border-box;
		@include bg-gradient($white, $gray-500);
		border-radius: $base-border-radius;
		height: 33vmax;
		min-height: 100%;
		padding: 0 .75rem;
		transition: .25s ease;
		&:hover{
			.school-items-slider__item__img{
				transform: scale(1.1);
			}
		}
		&__sale-shevron{
			bottom: 0;
			right: 0;
			width: 100%;
			position: absolute;
			text-align: center;
			@include bg-gradient(lighter(red, 6), lighter(red, 5));
			z-index: 2;
			padding: 2%;
			box-shadow: 0 0 4px rgba($black, 0.75);
			&__number{
				font-size: .95rem;
				font-weight: bold;
				display: inline-block;
			}
		}
		&__title{
			display: inline-block;
			width: 100%;
			margin-top: 1.5vmax;
			font-size: 1.25vmax;
			color: $gray-800;
			font-weight: $font-weight-bold;
			z-index: 2;
		}
		&__info{
			z-index: 1;
			margin-top: 1.5vmax;
			font-size: 1vmax;
			margin-bottom: .5vmax;
			color: $gray-700;
			margin-left: .75vmax;
		}
		&__list{
			z-index: 1;
			font-size: 1.15vmax;
			text-transform: uppercase;
			font-weight: 800;
			list-style-type: none;
			padding-left: 0;
			margin-bottom: 0;
			margin-left: .75vmax;
			&__item{
				margin-bottom: .25vmax;
				&:last-child{
					margin-bottom: 0;
				}
				&__link{
					color: $gray-700;
					text-decoration: underline;
					&:hover{
						color: $primary;
					}
				}
			}
		}
		&__img{
			position: absolute;
			transition: .3s ease;
			width: 100%;
			right: 0;
			bottom: 0;
			object-fit: fill;
			z-index: 0;

		}
		&__lock{
			background: $color-lock;
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: .8;
			top: 0;
			left: 0;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			&__img{
				width: 40%;

			}
			&__info{
				text-transform: none;
				margin-top: 2vmax;
				font-size: 1vmax;
				width: 100%;
				padding: 0 1vmax;
				.unlock-date{
					display: inline-block;
				}
			}
		}
	}
	&__navigation{
		display: flex;
		align-items: center;
		justify-content: center;
		transition: $transition-speed $transition-fn;
		&__button{
			padding: .25vw .5vw;
			font-size: 1.25vw;
			cursor: pointer;
			color: darker($theme-color-text, 4);
			&:hover{
				color: $theme-color-text;
			}
		}
	}
}