body{
  color: $theme-color-text;
  font-size: 1vw;
}
.h1, .h2, .h3, .h4, .h5{
  font-weight: bold;
}
.font-weight-semibold {
  font-weight: $font-weight-semibold;
}
.font-weight-extrabold {
  font-weight: $font-weight-extrabold;
}
.font-weight-black {
  font-weight: $font-weight-black;
}
.font-weight-bold{
  font-weight: 600;
}
.font-color-primary {
  color: $primary;
}
.btn--gradient {
  @include bg-gradient(lighter($primary, 1), darker($primary, 3));
}
.text-center{
  text-align: center;
}

.text-shadow--primary {
  text-shadow: $font-shadow-primary;
}
.text-gradient {
  @include text-gradient(#ccc, #000);
}

.text-gradient--primary {
  @include text-gradient($primary, darker($primary, 3));
}
.img-responsive{
  max-width: 100%;
}
*{
  &::selection{
    background: rgba($theme-color-1, .75);
  }
  &:focus, &:active{
    outline: none;
  }
}
button, select{
  &:focus{
   outline: none !important;
   box-shadow: none;
 }
 
}

%overflow-scroll-hide{
  overflow-y: scroll; 
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; 
  &::-webkit-scrollbar{
    width: 0;
  }
}

.brand-logo {
	max-width: 100%;
	width: 25vw;
	@include media-breakpoint-down(lg) {
		width: 30vw;	
	}	
	@include media-breakpoint-down(sm) {
		width: 60vw;	
	}
	&--dark{
		width: 8vw;
		@include media-breakpoint-down(sm) {
			width: 30vw;	
		}
	}
}

[data-toggle]{
	cursor: pointer;
}
