.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	&__spinner, &__icon{
		margin: 0 .15vw;
		height: 1vw;
		width: 1vw;
		font-size: 1vw;
	}
	&-long{
		min-width: 10vw;
	}
	&-buy{
		transition: none;
		&:hover{
			@include bg-gradient($primary, darker($primary, 3));
			border-color: darker($primary, 1);
			color: $theme-color-text;
		}
	}
}