

.brand-logo {
	max-width: 100%;
	width: 25vw;
	@include media-breakpoint-down(lg) {
		width: 30vw;	
	}	
	@include media-breakpoint-down(sm) {
		width: 60vw;	
	}
	&--dark{
		width: 8vw;
		@include media-breakpoint-down(sm) {
			width: 30vw;	
		}
	}
}

.nav{
	display: flex;
	flex-wrap: wrap;
	.col{
		padding: .5rem;
	}
}

.personal-cabinet{
	&__wrapper{
		margin-left: 2rem;
	}
	&__header{
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		padding: .5rem 2rem;
		display: flex;
		justify-content: flex-end;
		&__status-bar{
			color: $white;
		}
	}
	&__interface{
		min-height: 100vh;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		&__audio-player{
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
	}
	&__home-page{
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		&__nav{
			align-items: center;
			justify-content: center;
			width: 100%;
		}
		&__h2{
			font-size: 1rem;
			font-weight: normal;
			letter-spacing: 3px;
			display: inline-block;
			text-shadow: 0 0 3px rgba($black , 0.75);
			border-bottom: solid 1px $white;
			text-transform: uppercase;
			color: $white;
			margin: 0 auto;
		}
	}
}
.school-items-slider{
	width: 85.5vmax;
	overflow-x: hidden;
	margin: 0 auto;
	max-width: 100%;
	&__wrapper{
		width: 100%;
	}
	&__item{
		position: relative;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		box-sizing: border-box;
		@include bg-gradient($white, $gray-500);
		border-radius: $base-border-radius;
		height: 33vmax;
		min-height: 100%;
		padding: 0 .75rem;
		transition: .25s ease;
		&:hover{
			.school-items-slider__item__img{
				transform: scale(1.1);
			}
		}
		&__sale-shevron{
			bottom: 0;
			right: 0;
			width: 100%;
			position: absolute;
			text-align: center;
			@include bg-gradient(lighter(red, 6), lighter(red, 5));
			z-index: 2;
			padding: 2%;
			box-shadow: 0 0 4px rgba($black, 0.75);
			&__number{
				font-size: .95rem;
				font-weight: bold;
				display: inline-block;
			}
		}
		&__title{
			display: inline-block;
			width: 100%;
			margin-top: 1.5vmax;
			font-size: 1.25vmax;
			color: $gray-800;
			font-weight: $font-weight-bold;
			z-index: 2;
		}
		&__info{
			z-index: 1;
			margin-top: 1.5vmax;
			font-size: 1vmax;
			margin-bottom: .5vmax;
			color: $gray-700;
			margin-left: .75vmax;
		}
		&__list{
			z-index: 1;
			font-size: 1.15vmax;
			text-transform: uppercase;
			font-weight: 800;
			list-style-type: none;
			padding-left: 0;
			margin-bottom: 0;
			margin-left: .75vmax;
			&__item{
				margin-bottom: .25vmax;
				&:last-child{
					margin-bottom: 0;
				}
				&__link{
					color: $gray-700;
					text-decoration: underline;
					&:hover{
						color: $primary;
					}
				}
			}
		}
		&__img{
			position: absolute;
			transition: .3s ease;
			width: 100%;
			right: 0;
			bottom: 0;
			object-fit: fill;
			z-index: 0;

		}
		&__lock{
			background: $color-lock;
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: .8;
			top: 0;
			left: 0;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			&__img{
				width: 40%;

			}
			&__info{
				text-transform: none;
				margin-top: 2vmax;
				font-size: 1vmax;
				width: 100%;
				padding: 0 1vmax;
				.unlock-date{
					display: inline-block;
				}
			}
		}
	}

}
.test-exam{
	background: $gray-700;
	border-radius: 2rem;
	overflow: hidden;
	@include box-shadow(#333, 3px);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	&__body{
		margin-left: -15px;
		@include media-breakpoint-down(sm){
			margin-left: 0;
		}
	}
	&__h3{
		font-size: 1rem;
		padding-top: 2rem;
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}
	&__sidebar{
		background: $gray-800;
		border-radius: 2rem;
		padding-right: 0;
		border: solid 2px $gray-800;
		@include box-shadow($black, 5px);
		&__header{
			position: relative;
			padding: 1rem;

			&__offer{
				padding: 3rem 0;
				padding-left: 1rem;
			}
			&__img{
				max-width: 100%;
				max-height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				z-index: 0;
			}
		}
	}
	&__text-block{
		max-height: 250px;
		padding: 1.5rem;
		overflow-y: scroll; 
		overflow: -moz-scrollbars-none;
		-ms-overflow-style: none; 
		&::-webkit-scrollbar{
			width: 0;
		}
		color: $gray-400;
		font-size: .95rem;
		font-weight: 200;
	}
	&__choice-answer-list{
		list-style: none;
		padding-left: 0;
		padding: 2rem;
		border-top: solid 1px $gray-200;
		&__item{
			margin: .75rem 0;
			&__radio{
				&.custom-control{
					min-height: 2.6rem;
					padding-left: 3em;
				}
				.custom-control{
					&-input{
						width: 2rem;
						height: 2.4rem;
					}
					&-label{
						padding-top: .2rem;
						&:before, &:after{
							width: 2rem;
							height: 2rem;
							left: -3rem;
						}
					}
				}
			}
		}
	}
	&__type{
		@include bg-gradient($white, $gray-200);
		color: $gray-700;
		padding: .15rem .5rem;
		margin: .25rem 0;
		font-size: .9rem;
	}
	&__thame{
		@extend .test-exam__type;
	}
	&__nav{
		display: flex;
		align-items: center;
		justify-content: center;
		&__list{
			padding-left: 0;
			width: 100%;
			&__item{
				@extend .test-exam__type;
				padding-left: 1.5rem;
				cursor: pointer;
				font-weight: 600;
				&.active{
					@include bg-gradient(lighter($primary, 3), $primary);
				}
			}
		}
	}
	&__btn{
		border-radius: .5rem;
		border: solid 1px $gray-900;
		background: $gray-800;
		text-transform: uppercase;
		font-size: .9rem;
		font-weight: 600;
		letter-spacing: 1px;
		padding: .5rem 1.5rem;
		transition: .2s ease;
		&:hover{
			background: $primary;
			color: $gray-900;
		}
		&-btn-block{
			padding-right: 2rem;
			padding-left: 2rem;
			padding-bottom: 1.5rem;
			text-align: right;
		} 
	}
}

[data-toggle]{
	cursor: pointer;
}
