.header{
	background: $theme-color-2;
	position: fixed;
	z-index: 99;
	top: 0;
	right: 0;
	width: 100%;
	height: $header-height;
	padding: 0 2vmax;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: center;
	&__search-form{
		width: 15vw;
		top: 50%;
		transform: translateY(-50%);
		right: 2vw;
		padding: .5vmax 0;
		position: absolute;
		&__inp{
			font-size: .9vmax;
			padding-left: .5vmax;
		}
	}

}