body, html {
	font-family: $font-family-base;
	@extend %overflow-scroll-hide;
}
body{
	background-color: $body-bg-color;
	background: $body-bg-image;
	min-height: 100%;
	padding-top: $header-height;
}
.wrapper-main{
	min-height: 100%;
	position: relative;
}

.wrapper-content{
	margin-left: $nav-sidebar-width;
	transition: margin-left $transition-speed $transition-fn;
    transition-property: margin-left;
    transition-duration: $transition-speed;
    transition-timing-function: $transition-fn;
    transition-delay: 0s;
    padding-top: $header-height;
    display: flex;
    min-height: 100vh;
    align-items: center;
    min-height: 100vh;
}

.courses{
	margin: 0 auto;
	width: 60vw;
	max-height: 80vh;
	display: flex;
	justify-content: center;
	flex-direction: row;
	&__sidebar{
		flex: 0 0 25%;
		padding-right: 1vw;
	}
	&__body{
		width: 75%;
	}
}

.home{
	justify-content: center;
	margin: 0 auto;
	&__nav{
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	&__h2{
		font-size: 1rem;
		font-weight: normal;
		letter-spacing: 3px;
		display: inline-block;
		text-shadow: 0 0 3px rgba($black , 0.75);
		border-bottom: solid 1px $white;
		text-transform: uppercase;
		color: $white;
		margin: 0 auto;
	}
}