body, html {
	font-family: $font-family-base;
	@extend %overflow-scroll-hide;
}
body{
	background-color: $body-bg-color;
	background: $body-bg-image;
	min-height: 100%;
	padding-top: $header-height;
}
.wrapper-main{
	min-height: 100%;
	position: relative;
}

.wrapper-content{
	margin-left: $nav-sidebar-width;
	transition: margin-left $transition-speed $transition-fn;
	transition-property: margin-left;
	transition-duration: $transition-speed;
	transition-timing-function: $transition-fn;
	transition-delay: 0s;
	padding-top: $header-height;
	display: flex;
	min-height: 100vh;
	align-items: center;
	min-height: 100vh;
}

.courses{
	margin: 0 auto;
	width: 70vw;
	max-height: 75vh;
	display: flex;
	justify-content: center;
	flex-direction: row;
	&__body{
		width: 75%;
	}
	&__nav{
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		padding-left: 0;
		padding-right: 1vw;
		margin: 0;
		@include custom-scroll-bar();
		max-height: 100%;
		&__link{
			padding: .5vw .5vw;
			font-weight: 400;
			font-size: .9vw;
			display: -webkit-flex;
			display: flex;
			flex-direction: row;
			cursor: pointer;
			align-items: center;
			margin: .15vw 0;
			border-radius: $btn-border-radius;
			color: $theme-color-text;
			&.active{	
				color: $gray-800;
				@include bg-gradient($theme-color-text, darker($theme-color-text, 4));
			}
			.btn__icon{
				margin-right: .75vw;
				font-size: 1.5vw;
				width: 1.25vw;
				height: 1.25vw;
			}
		}
	}
	&__sidebar{
		flex: 0 0 20%;
		padding-right: .5vw;
		max-height: 100%;
		.btn-my-course{
			@extend .courses__nav__link;
			&.active{
				@extend .courses__nav__link.active
			}
		}
	}
}

.home{
	justify-content: center;
	margin: 0 auto;
	&__nav{
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	&__h2{
		font-size: 1rem;
		font-weight: normal;
		letter-spacing: 3px;
		display: inline-block;
		text-shadow: 0 0 3px rgba($black , 0.75);
		border-bottom: solid 1px $white;
		text-transform: uppercase;
		color: $white;
		margin: 0 auto;
	}
}