// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1900px
  );

// Body
$body-bg-color: #f8fafc;
$body-bg-image: url('../public/img/bg-pattern.jpg');

// Transition global options
$transition-speed: 0.3s;
$transition-fn: ease-in-out;

// Typography
$font-family-base: 'Nunito', sans-serif, 'Arial';
$enable-responsive-font-sizes: true; 
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$white: #fff;
$color-lock: #424242;
$primary: #81c28f;
$dark: #525b6e;
// Colors Theme
$theme-color-accent: $primary;
$theme-color-1: #292b2f; //Почти чёрный
$theme-color-2: #2e323b; // Тёмнл синий
$theme-color-3: #525b6e; // Серо-голубой
$theme-color-text: $white;
$theme-color-link: $theme-color-accent;

//Border
$border-radius: .75vw;
$base-border-radius: $border-radius;
$border-radius-lg: 1vw;
$border-radius-sm: .5vw;
$border-width: 1px;
$border-width-lg: $border-width * 1.25;
$border-width-sm: 1px;

//Inputs
$input-bg: $theme-color-2 ;
$input-color: $white;
$input-placeholder-color: $theme-color-text;
$input-border-width: $border-width;
$input-border-radius: $border-radius-sm;
$input-btn-focus-box-shadow: none;
$input-btn-padding-y: .5vw;
$input-btn-padding-x: .5vw;
$input-btn-border-width: $border-width;

//buttons
$btn-border-width: 0;
$btn-border-radius: $border-radius-sm;
$btn-border-radius-lg: $border-radius;
$btn-padding-y: .35vw;
$btn-padding-x: 1vw;
$btn-active-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-font-size: 1vw;

//nav
$nav-pills-border-radius: $btn-border-radius;
//modal
$modal-content-color: $theme-color-text;
$modal-content-bg: $theme-color-2;
$modal-content-border-radius: $border-radius-sm; 
$modal-content-border-color: $theme-color-2;
$modal-header-border-width: none;
$modal-footer-border-width: none;
$modal-lg: 50vw;

//Custom Control
$custom-select-indicator-padding: 1vw;
$custom-select-padding-x: $input-btn-padding-x;
$custom-select-padding-y: $input-btn-padding-y;
$custom-control-indicator-border-color: $theme-color-2;
$custom-control-indicator-bg: $theme-color-text;

//Lists
$list-group-bg: transparent;

//Badge
$badge-border-radius: $border-radius-sm;
//Fonts
$font-family-base: 'Montserrat';
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;
$font-shadow: 1px 1px 1px rgba($black,.5);
$font-shadow-primary: 0 0 25px rgba($primary,.75);
// Определение путей к шрифтам иконок
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

//Shadows
$box-shadow-xs: 0 1px 3px rgba($black, .1);
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);
$box-shadow: 0 0 1rem rgba($black, .4);
$box-shadow-lg: 0 1rem 3rem rgba($black, .75);

// layout
$header-height: 4vw;

//sidebar
$nav-sidebar-width: 15vw;
$nav-sidebar-width-collapse: 4vw;
$nav-sidebar-border-radius: 1.75vw;
$nav-sidebar-z-index: 900;

//header
$header-z-index: $nav-sidebar-z-index - 10;

//card
$card-bg: $theme-color-3;
$card-border-width: $border-width-lg;
$card-border-color: $theme-color-3;
$card-border-radius: $border-radius;

//Аудио плейер
$audio-player-width: 42vw;
$audio-player-z-index: $nav-sidebar-z-index + 10;

//Чат
$messanger-warapper-width: 25vw;
$messanger-warapper-bg: $theme-color-3;
$messanger-warapper-bg-image: url("../public/img/icon-pattern-charcoal.png");
$messanger-warapper-z-index: $nav-sidebar-z-index - 10;
$messanger-dialog-card-height: 5vw;
$messanger-message-bg--recent: $theme-color-2;
$messanger-message-bg--author: transparent;
$messanger-message-border-radius: $border-radius-sm;
$messanger-header-title-height: 3vw;
$messanger-footer-height: 100%;
$messanger-body-height: 100vh;
$messanger-action-menu-width: auto;

