// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1900px
  );

// Body
$body-bg-color: #f8fafc;
$body-bg-image: url('../public/img/bg.jpg');

// Transition global options
$transition-speed: 0.3s;
$transition-fn: ease-in-out;

// Typography
$font-family-base: 'Nunito', sans-serif, 'Arial';
$enable-responsive-font-sizes: true; 
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$white: #fff;
$color-lock: #424242;
$primary: #81c28f;

// Colors Theme
$theme-color-accent: $primary;
$theme-color-1: #292b2f; //Почти чёрный
$theme-color-2: #2e323b; // Тёмнл синий
$theme-color-text: $white;
$theme-color-link: $theme-color-accent;

//Border
$border-radius: 1.75vw;
$base-border-radius: $border-radius;
$border-radius-lg: 1vw;
$border-radius-sm: .75vw;
$border-width: 3px;
$border-width-lg: $border-width * 1.25;
$border-width-sm: .1vw;

//buttons
$btn-border-width: 2px;
$btn-border-radius: $border-radius;
$btn-active-box-shadow: none;
$btn-focus-box-shadow: none;

//Inputs
$input-bg: transparent ;
$input-color: $white;
$input-placeholder-color: $white;
$input-border-width: $btn-border-width;
$input-border-radius: $btn-border-radius;
$input-btn-focus-box-shadow: none;

//Fonts
$font-family-base: 'Montserrat';
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;
$font-shadow: 1px 1px 1px rgba($black,.5);
$font-shadow-primary: 0 0 25px rgba($primary,.75);

//Shadows
$box-shadow-xs: 0 1px 3px rgba($black, .1);
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);
$box-shadow: 0 0 1rem rgba($black, .4);
$box-shadow-lg: 0 1rem 3rem rgba($black, .75);

// layout
$header-height: 4vw;

//sidebar
$nav-sidebar-width: 15vw;
$nav-sidebar-width-collapse: 4vw;
$nav-sidebar-border-radius: $border-radius;
$nav-sidebar-z-index: 900;

//header
$header-z-index: $nav-sidebar-z-index - 10;

//card
$card-bg: rgba($gray-600, 0.2);
$card-border-width: $border-width-lg;
$card-border-color: $primary;

//Аудио плейер
$audio-player-width: 50vw;
$audio-player-z-index: $nav-sidebar-z-index + 10;

//Чат
$messanger-warapper-width: 25vw;
$messanger-warapper-bg: #525b6e;
$messanger-warapper-z-index: $nav-sidebar-z-index - 10;
$messanger-dialog-card-height: 5vw;
$messanger-message-bg--recent: $theme-color-2;
$messanger-message-bg--author: transparent;
$messanger-message-border-radius: $border-radius-sm;
$messanger-header-title-height: 3vw;
$messanger-footer-height: 100%;
$messanger-body-height: 100vh;
$messanger-action-menu-width: 12vw;

